h1{
  color: blue;
  font-style: italic;
  text-align: center;
}
h2 {
  color: blue;
  font-style: italic;
  text-align: center;
}
img {
  float: center;
}
ul {
    line-height: 30px;
}
li {
    line-height: 30px;
}
.Email {
  font-style: italic;
